.git
.github
.vscode
.idea
*.iml

**/.env
!**/.env.example
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.crt
**/*.cer
**/*.log

backend/target
backend/data

frontend/node_modules
frontend/dist

coverage
output
tmp
temp
